/* Estilos para tamaño Escritorio (768px-1280px) */

.body {
  max-width: 1280px;
  padding: 34px 0px 25px;
  margin: auto;
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: Inter, Arial, sans-serif;
}

/* Estilos para tamaño Tabel (320px-0px) */

@media screen and (max-width: 768px) {
  .body {
    max-width: 768px;
    padding: 30px 0 25px;
  }
}
