/* Estilos para tamaño Escritorio (1280px-768px) */

.content {
  width: 100%;
  max-width: 830px;
  margin: 0px auto 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__title {
  width: 825px;
  height: 174px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
}

.content__text-quote {
  width: 738px;
  height: 136px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
}

.content__text-author {
  width: 732px;
  height: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.content__text {
  width: 722px;
  height: 182px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0%;
}

/* Estilos para tamaño Tabel (768px-320px) */

@media screen and (max-width: 768px) {
  .content__title {
    width: 685px;
    height: 174px;
    font-size: 45px;
    line-height: 49px;
    margin: 0px auto 50px;
  }

  .content__text-quote {
    width: 685px;
    height: 136px;
    margin: 0px auto 0px;
  }

  .content__text-author {
    width: 685px;
    margin: 0px auto 0px;
  }

  .content__text {
    width: 685px;
    margin: 32px auto 0px;
  }
}

/* Estilos para tamaño Mobil (320px-0px) */

@media screen and (max-width: 320px) {
  .content__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0px auto 40px;
  }

  .content__text-quote {
    width: 288px;
    height: auto;
    margin: 0px auto 0px;
  }

  .content__text-author {
    width: 288px;
    font-size: 24px;
    margin: 10px auto 0px;
  }

  .content__text {
    width: 288px;
    height: 442px;
    margin: 32px auto 0px;
  }
}
