.eeuu__container {
  width: 987px;
  margin: 0px auto 80px;
}

.eeuu {
  height: 756px;
  margin: 0px auto 80px;
  display: flex;
  flex-direction: column;
}

.eeuu__header {
  display: flex;
  margin-bottom: 48px;
}

.eeuu__title {
  width: 460px;
  margin: 0px 0px 0px;
  font-family: Inter;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.eeuu__artist {
  width: 456px;
  margin-top: 85px;
  margin-left: 40px;
}

.eeuu__subtitle {
  width: 86px;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0px 0px 8px;
}

.eeuu__artist-name {
  width: 456px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0px 0px 0px;
}

.eeuu__main {
  display: flex;
}

.eeuu__photo {
  width: 460px;
  height: 460px;
  box-shadow: 10px 10px 40px black;
}

.eeuu__photo:hover {
  filter: brightness(0.5);
}

.eeuu__paragraph {
  flex-direction: column;
}

.eeuu__text {
  width: 484px;
  margin: 0px 0px 25px 40px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.eeuu__button {
  width: 289px;
  height: 48px;
  margin: 23px 0px 0px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  box-shadow: 5px 5px 20px black;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
}

.eeuu__button:hover {
  filter: brightness(0.5);
}
