/* Pequeño detalle: siempre centra el footer con margin auto */

.footer {
  margin: 0 auto 0;
}

.footer__copyright {
  width: 194px;
  height: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 92px auto 0px;
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .footer__copyright {
    margin: 92px auto 0px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin: 64px auto 0px;
  }
}
