.gales__container {
  width: 984px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header"
    "photo text"
    "button button";
  column-gap: 40px;
  row-gap: 48px;
}

.gales__container > a {
  grid-area: button;
}

.gales__header {
  grid-area: header;
  display: flex;
  margin-bottom: 0px;
}

.gales__title {
  width: 460px;
  margin: 0px 0px 0px;
  font-family: Inter;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.gales__artist {
  width: 456px;
  margin-top: 85px;
  margin-left: 40px;
}

.gales__subtitle {
  width: 86px;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0px 0px 8px;
}

.gales__artist-name {
  width: 456px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0px 0px 0px;
}

.gales__photo {
  grid-area: photo;
  width: 100%;
  max-width: 460px;
  height: 460px;
  box-shadow: 10px 10px 40px black;
}

.gales__photo:hover {
  filter: brightness(0.5);
}

.gales__paragraph {
  grid-area: text;
  flex-direction: column;
}

.gales__text {
  width: 100%;
  margin-bottom: 0px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.gales__text-1 {
  margin-bottom: 25px;
  width: 100%;
  margin-bottom: 0px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.gales__button {
  width: 289px;
  height: 48px;
  margin: 0px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  box-shadow: 5px 5px 20px black;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
}

.gales__button:hover {
  filter: brightness(0.5);
}

/* Estilos para tamaño Tabel (768px-320px) */

@media screen and (max-width: 768px) {
  .gales__header {
    width: 680px;
  }

  .gales__title {
    width: 340px;
    font-size: 42px;
  }

  .gales__subtitle {
    width: 67px;
  }

  .gales__artist-name {
    width: 352px;
  }

  .gales__photo {
    width: 340px;
    height: 340px;
  }

  .gales__text {
    width: 352px;
    font-size: 16px;
  }
}
