/* Recuerda: margin auto centra el contenido horizontalmente */

.header {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  align-items: center;
  margin: 0 auto 92px auto;
}

.header__logo {
  width: 255px;
  height: 69px;
  margin: 0 auto 91px;
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .header {
    margin: 0 0 90px;
  }

  .header__logo {
    height: 66px;
    margin: 0 auto 90px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: auto;
  }

  .header__logo {
    width: 188px;
    height: 52px;
    margin: 0 auto 50px;
  }
}
