/* Estilos para tamaño Escritorio (1280px-768px) */

.header {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  align-items: center;
  margin: 0 auto 92px auto;
}

.header__logo {
  width: 245px;
  height: 69px;
  margin: 0 auto 91px;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__title {
  width: 720px;
  height: 200px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto 32px;
}

.header__subtitle {
  width: 720px;
  height: 72px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto 64px;
}

.header__image {
  margin: auto;
  box-shadow: 10px 10px 40px black;
}

/* Estilos para tamaño Tabel (768px-320px) */

@media screen and (max-width: 768px) {
  .header {
    margin: 0 0 90px;
  }

  .header__logo {
    height: 66px;
    margin: 0 auto 90px;
  }

  .header__title {
    width: 530px;
    height: 158px;
    font-size: 75px;
    line-height: 79px;
    margin: 0px auto 25px;
  }

  .header__subtitle {
    margin: 0px auto 30px;
  }

  .header__image {
    width: 100%;
    max-width: 984px;
    height: auto;
    object-fit: cover;
  }
}

/* Estilos para tamaño Mobil (320px-0px) */

@media screen and (max-width: 320px) {
  .header__logo {
    width: 199px;
    height: 52px;
    margin: 0 auto 50px;
  }

  .header__title {
    width: 228px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
    margin: 0px auto 25px;
  }

  .header__subtitle {
    width: 299px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    margin: 0px auto 40px;
  }
}
