/* Pequeño detalle: max-width en el título evita que se vea muy ancho en pantallas grandes */

.lead {
  font-family: "Inter", Arial, sans-serif;
  padding: 56px 0 46px;
  margin: 0 auto;
  max-width: 984px;
}

.lead__title {
  max-width: 85%;
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin: 0 auto;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 0 24px;
  margin: 32px auto 64px;
  max-width: 720px;
}

.lead__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .lead {
    padding: 56px 0 44px;
  }

  .lead__title {
    font-size: 75px;
    line-height: 79px;
  }

  .lead__subtitle {
    margin: 25px auto 30px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding: 28px 0 32px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding: 0 16px;
    margin: 16px auto 40px;
  }
}
