.montevideo__container {
  width: 987px;
  margin: 0px auto 80px;
}

.montevideo {
  height: 756px;
  margin: 0px auto 80px;
  display: flex;
  flex-direction: column;
}

.montevideo__header {
  display: flex;
  margin-bottom: 48px;
}

.montevideo__title {
  width: 460px;
  margin: 0px 0px 0px;
  font-family: Inter;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.montevideo__artist {
  width: 456px;
  margin-top: 85px;
  margin-left: 40px;
}

.montevideo__subtitle {
  width: 86px;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0px 0px 8px;
}

.montevideo__artist-name {
  width: 456px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0px 0px 0px;
}

.montevideo__main {
  display: flex;
}

.montevideo__photo {
  width: 460px;
  height: 460px;
  box-shadow: 10px 10px 40px black;
}

.montevideo__photo:hover {
  filter: brightness(0.5);
}

.montevideo__paragraph {
  flex-direction: column;
}

.montevideo__text {
  width: 484px;
  margin: 0px 0px 25px 40px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.montevideo__button {
  width: 289px;
  height: 48px;
  margin: 48px 0px 0px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  box-shadow: 5px 5px 20px black;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
}

.montevideo__button:hover {
  filter: brightness(0.5);
}
