/* Tip: En desktop, siempre usa max-width para que el contenido no se estire demasiado */

.page {
  min-height: 100vh;
  max-width: 1280px;
  padding: 34px 0px 25px;
  margin: 0 auto;
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: Inter, Arial, sans-serif;
  overflow: hidden;
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .page {
    max-width: 768px;
    padding: 30px 24px 25px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
    padding: 20px 16px 25px;
  }
}
