.photo-grid {
  margin: 118px auto 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}

.photo-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para tamaño Tabel (768px-320px) */

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

/* Estilos para tamaño Mobil (320px-0px) */

@media screen and (max-width: 320px) {
}
