.photo-grid {
  max-width: 1184px;
  margin: 118px auto 92px;
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}

.photo-grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .photo-grid {
    max-width: 720px;
    margin: 118px auto 92px;
    padding: 0 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 320px;
    margin: 64px auto 64px;
    padding: 0 16px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}
