/* Flexbox es perfecto para centrar contenido verticalmente */

.places {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .places {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  .places {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
