@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/photo_grid.css);
@import url(../blocks/gales.css);
@import url(../blocks/eeuu.css);
@import url(../blocks/burundi.css);
@import url(../blocks/montevideo.css);
@import url(../blocks/footer.css);
